name: Pre-Merge Lint & Unit Test

on:
  pull_request:
    types: [opened, synchronize, reopened]
  merge_group:
  workflow_dispatch:

permissions:
  packages: read

env:
  DOCKER_PATH: ./deploy
  TEST_TAG: user/app:test

defaults:
  run:
    shell: bash
    working-directory: ./deploy/scripts

jobs:
  k6_unit_test:
    name: Run linting and unit tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: "0"

      - name: Setup nodeJS v20
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: "deploy/scripts/package-lock.json"
          registry-url: "https://npm.pkg.github.com"

      - name: Setup python v3.11
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ github.token }}

      - name: Run linting checks
        run: npm run lint

      - name: Transpile TypeScript test scripts
        run: npm start

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 #v3.11.1

      - name: Build Docker Image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 #v6.18.0
        with:
          cache-from: type=gha
          cache-to: type=gha,mode=max
          context: ${{ env.DOCKER_PATH }}
          load: true
          tags: ${{ env.TEST_TAG }}

      - name: Run k6 unit test script in image
        run: |
          docker run --rm ${{ env.TEST_TAG }} -c 'k6 run scripts/common/unit-tests.js'
        working-directory: ${{ env.DOCKER_PATH }}

      - run: git fetch origin main
      - name: Run pre-commit action
        uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
        with:
          extra_args: --from-ref FETCH_HEAD --to-ref HEAD
