name: Pre-Merge Lint & Unit Test

on:
  pull_request:
    types: [opened, synchronize, reopened]
  merge_group:
  workflow_dispatch:

env:
  DOCKER_PATH: ./deploy
  TEST_TAG: user/app:test

defaults:
  run:
    shell: bash
    working-directory: ./deploy/scripts

jobs:
  k6_unit_test:
    name: Run linting and unit tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          fetch-depth: "0"

      - name: Setup nodeJS v20
        uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4.0.3
        with:
          node-version: 20

      - name: Setup python v3.11
        uses: actions/setup-python@39cd14951b08e74b54015e9e001cdefcf80e669f # v5.1.1
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: npm ci

      - name: Run linting checks
        run: npm run lint

      - name: Transpile TypeScript test scripts
        run: npm start

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@988b5a0280414f521da01fcc63a27aeeb4b104db #v3.6.1

      - name: Build Docker Image
        uses: docker/build-push-action@5176d81f87c23d6fc96624dfdbcd9f3830bbe445 #v6.5.0
        with:
          cache-from: type=gha
          cache-to: type=gha,mode=max
          context: ${{ env.DOCKER_PATH }}
          load: true
          tags: ${{ env.TEST_TAG }}

      - name: Run k6 unit test script in image
        run: |
          docker run --rm ${{ env.TEST_TAG }} -c 'k6 run scripts/common/unit-tests.js'
        working-directory: ${{ env.DOCKER_PATH }}

      - run: git fetch origin main
      - name: Run pre-commit action
        uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
        with:
          extra_args: --from-ref FETCH_HEAD --to-ref HEAD
