name: Publish

on:
  push:
    branches:
      - main
    paths:
      - "deploy/**"
      - ".github/workflows/publish.yaml"

defaults:
  run:
    shell: bash
    working-directory: ./deploy

jobs:
  dockerBuildAndPush:
    name: Docker build and push
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read
    steps:
      - name: Deploy SAM app to ECR
        uses: govuk-one-login/devplatform-upload-action-ecr@f82c8774a6390f200b15112b3cbb9faf3442173c # 1.5.0
        with:
          artifact-bucket-name: ${{ secrets.PERF_ARTIFACT_SOURCE_BUCKET_NAME }}
          container-sign-kms-key-arn: ${{ secrets.PERF_CONTAINER_SIGN_KMS_KEY }}
          working-directory: ./deploy
          template-file: template.yaml
          role-to-assume-arn: ${{ secrets.PERF_GH_ACTIONS_ROLE_ARN }}
          ecr-repo-name: ${{ secrets.PERF_ECR_REPOSITORY }}
